@import "./index.css";
@import "tailwindcss";

.input-field {
	border-color: var(--color-border-normal);
}

.input-icon-container,
.input-password-icon {
	color: var(--color-text-placeholder);
}

/* Per nascondere le icone predefinite */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}
